<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="timetable2.Properties.Settings.dboConnectionString" connectionString="Data Source=(LocalDb)\V11.0;Initial Catalog=dbo;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="timetable2.Properties.Settings.dbttConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=dbtt;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
